// element-ui css
@import "~element-ui/packages/theme-chalk/src/index";
//@import "~element-ui/lib/theme-chalk/index.css";

body{
    margin:0;
}

.el-menu .el-menu-item.is-active i{
    color: #409EFF;

}
.el-menu .el-menu-item:not(.is-active):hover i,.el-menu .el-submenu:hover .el-submenu__title i{
    color: #fff;

}