
// element-ui css
@import "~element-ui/packages/theme-chalk/src/index";

body{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    margin:0;
}

.el-tabs .el-tabs__nav{
    margin-top:10px;
    margin-left:10px;
}

// font-awesome css
$fa-css-prefix:el-icon-fa;

@import "~font-awesome/scss/font-awesome";

[class^="el-icon-fa"], [class*=" el-icon-fa"] {
    display: inline-block;
    font-family: FontAwesome !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
};